button.btn {
  margin-bottom: 16px;
  background-color: rgb(108 107 66);
  outline: none !important;
}

a.btn-me.btn.btn-primary {
  background-color: rgb(108 107 66) !important;
  border: 1px solid #ccc !important;
}
